<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <link type="text/css" rel="stylesheet" href="css/radar.css" />

    <script src="d3.js"></script>
    <script src="radar.js"></script>
    <script src="radar-impl.js"></script>
  </head>
  <body>
      <div class="left-hand-panel">
        Organisation
        <input type="text" id="orgInput"></input>
        <button id="crawlBtn">Go</button>
      </div>
      <div class="main-panel">
          <div id="radar" style="width: 1024px; height: 800px"></div>
      </div>
  </body>

  <script>
    var radarExample = {
        'data': [
            { 'language':'C#' , 'count': 500 },
            { 'language':'Python' , 'count':  400 },
            { 'language':'Ruby on Rails' , 'count': 300 },
            { 'language': 'Visual Basic', 'count': 20 }
        ]};

    //show_radar(radarExample.data);  
  </script>

</html>

<script>window.$ = window.jQuery = require('./../scripts/jquery-2.2.2.js');</script>
<script>
const crawler = require('./../modules/crawler');
$(crawlBtn).click(function () {
  crawler.crawl();
});
</script>
