<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Github Organisation Visualiser - Radar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/photon.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link type="text/css" rel="stylesheet" href="css/button.css" />
    <link type="text/css" rel="stylesheet" href="css/radar.css" />
    <link type="text/css" rel="stylesheet" href="css/menu.css" />
    <link type="text/css" rel="stylesheet" href="css/search.css" />
    <link href="../node_modules/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="css/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="css/MarkerCluster.css">
    <link type="text/css" rel="stylesheet" href="css/MarkerCluster.Default.css">

    <script type="text/javascript" src="../node_modules/vis/dist/vis.js"></script>
    <script src="d3.js"></script>
    <script src="radar.js"></script>
    <script src="radar-impl.js"></script>
    <script src="menu.js"></script>

    <script src="./leaflet.js"></script>
    <script src="mapping/leaflet.markercluster.js"></script>

    <style>
      #networkgraph {
        width: 600px;
        height: 600px;
      }

      #themap {
        width: 600px;
        height: 600px;
      }

      .github-avatar {
          width: 120px;
          height: 120px;
          border: 1px #1e1e1e;
      }

      #influencebubble {
        width: 100%;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <div class="window">
      <div class="window-content">
        <div class="pane-group">
          <div class="pane-mini sidebar">
          <nav class="main-menu">
            <ul>
              <li>
                <a href="#radar" class="navbutton">
                <i class="fa fa-bullseye fa-2x"></i>
                        <span class="nav-text">
                            Radar
                        </span>
                </a>
              </li>
              <li>
                <a href="#networkgraph" class="navbutton">
                <i class="fa fa-share-alt-square fa-2x"></i>
                        <span class="nav-text">
                            Network
                        </span>
                </a>
              </li>
              <li>
                <a href="#themap" class="navbutton">
                <i class="fa fa-map fa-2x"></i>
                        <span class="nav-text">
                            Locality
                        </span>
                </a>
              </li>
              <li>
                <a href="#influencebubble" class="navbutton">
                <i class="fa fa-circle-o fa-2x"></i>
                        <span class="nav-text">
                            Influence
                        </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
          <div class="pane">
            <div class="sw">
                <input id="orgInput"  class="search" placeholder="Github Organisation.." />
                <button  id="crawlBtn" class="go"><span class="entypo-search"></span></button>
            </div>
              <div id="radar" class="navItem" style="width: 1024px; height: 800px"></div>
              <div id="themap" class="navItem" style="display:none"></div>
              <div id="networkgraph" class="navItem" style="display:none"></div>
              <div id="influencebubble" class="navItem" style="display:none"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="http://js.pusher.com/3.0/pusher.min.js"></script>
<script>
var socket = new Pusher('9ba0fdd2241a9d87841e');
var channel = socket.subscribe('pugs');
channel.bind('updatedRadar',
  function(data) {
    show_radar(data.OrgData,data.MemberData);
  }
);

channel.bind('updatedBalls',
  function(data) {
    createBubble(data,false);
  }
);
</script>

<script>window.$ = window.jQuery = require('./../scripts/jquery-2.2.2.js');</script>
<script>

// Pressing return after entering organisation name clicks Go button
$('#orgInput').keyup(function(event) {
    if (event.keyCode == 13) {
        $('#crawlBtn').click();
    }
});

const crawler = require('./../modules/crawler');
const influence = require('./../modules/influence');
const mapper = require('./../modules/map')
$(crawlBtn).click(function () {
  crawler.renderNetworkGraph($(orgInput).val());
  mapper.render($(orgInput).val(), storeLocationData);
  $.get("http://ec3968f3.ngrok.io/radar/" + $(orgInput).val());
  $.get("http://ec3968f3.ngrok.io/balls/" + $(orgInput).val());
});

$('.navbutton').click(function(e) {
    $('.navItem:visible').each(function() {
      $(this).hide();
    });

    $(this.hash).show();
    e.preventDefault();

    if (this.hash == "#themap") {
        ensureMapLoaded();
    } else if (this.hash == "#networkgraph") {
        createNetwork();
    }
})
</script>
<script>

var repos = [{repository: 'test', contributors: ['bob', 'fred']},
             {repository: 'test2', contributors: ['bob', 'bert']}]

var names = [{login: 'bob', image: ''}, {login: 'fred', image: ''}, {login: 'bert', image: ''}]

function findNodes(names) {
  var nodes = [];
  var id_num = 1;
  for (name in names) {
    nodes.push({id: id_num, label: name.login, image: name.image});
    id_num++;
  }
  return nodes;
}

function findNameIdMap(names) {
  var id_num = 1;
  var name_id_map = new Map();
  for (name in names) {
    name_id_map.set(name.login, id_num);
    id_num++;
  }
  return name_id_map;
}

function findEdges(repos, name_id_map) {
  var edges = [];
  for (repo in repos) {
    for (contributor_x in repo.contributors) {
      for (contributor_y in repo.contributors) {
        if (contributor_x != contributor_y) {
          edges.push({from: name_id_map.get(contributor_x),
                      to: name_id_map.get(contributor_y)});
        }
      }
    }
  }
  var uniqueEdges = [];
  $.each(edges, function(i, el){
    if($.inArray(el, uniqueEdges) === -1) uniqueEdges.push(el);
  });
  return uniqueEdges;
}
nodes = findNodes(names);
name_id_map = findNameIdMap(names);
edges = findEdges(repos, name_id_map);

function createNetwork() {
    // create an array with nodes
    var nodestemp = [
      {id: 1, label: 'Node 1', image: '../images/test_image.png'},
      {id: 2, label: 'Node 2', image: '../images/test_image.png'},
      {id: 3, label: 'Node 3', image: '../images/test_image.png'},
      {id: 4, label: 'Node 4', image: '../images/test_image.png'},
      {id: 5, label: 'Node 5', image: '../images/test_image.png'}
    ];
    // create an array with edges
    var edgestemp = [
      {from: 1, to: 2},
      {from: 1, to: 3},
      {from: 2, to: 4},
      {from: 2, to: 5}
    ];
    var container = document.getElementById('networkgraph');
    //container.html('');
    var data = {
      nodes: nodestemp,
      edges: edgestemp
    };
    var options = {
      nodes: {borderWidth: 4,
              borderWidthSelected: 8,
              shadow: false,
              shape: 'circularImage',
              brokenImage: '../images/test_image.png'}
    };
    var network = new vis.Network(container, data, options);
}
</script>

<script>

// D3 Bubble Chart
function createBubble(incomingData, bubbleLoaded) {

  var diameter = 900;
  d3.select('#influencebubble').html("");
  var svg = d3.select('#influencebubble').append('svg')
          .attr('width', diameter)
          .attr('height', diameter);

  var bubble = d3.layout.pack()
        .size([diameter, diameter])
        .value(function(d) {return d.size;})
        .sort(function(a, b) {
        	return -(a.value - b.value)
         })
        .padding(3);

  // generate data with calculated layout values
  var nodes = bubble.nodes(processData(incomingData))
            .filter(function(d) { return !d.children; }); // filter out the outer bubble

  var vis = svg.selectAll('circle')
          .data(nodes);

  var color = d3.scale.category20c();

  vis.enter().append('circle')
      .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
      .attr('r', function(d) { return d.r; })
      .attr('class', function(d) { return d.className; })
      .style('fill', function(d) { return color(d.className); });

  vis.enter().append('text')
      .attr('transform', function(d) { return 'translate(' + d.x + ',' + d.y + ')'; })
      .attr("dy", ".3em")
      .style("text-anchor", "middle")
      .text(function(d) { return d.className.substring(0, d.r / 3); });

  function processData(people) {
    var newDataSet = [];

    for(var personIndex in people) {
      newDataSet.push({name: people[personIndex].Name,
                       className: people[personIndex].Name,
                       size: people[personIndex].Count});
    }
    return {children: newDataSet};
  }
}


</script>

<script>

    // NB: logins are hard-coded now because of geocoder rate limits for location matching
    var map,
        loginLocations,
        markers;

    function getRandomLocation() {
        var sw = this.map.getBounds().getSouthWest();
        var ne = this.map.getBounds().getNorthEast();

        var lat = Math.random() * (ne.lat - sw.lat) + sw.lat;
        var lng = Math.random() * (ne.lng - sw.lng) + sw.lng;

        return [lat, lng];
    }

    function storeLocationData(mapData) {
        var firstMapView = !loginLocations;

        loginLocations = [];
        for (var i = 0; i < mapData.length; i++) {
            loginLocations.push(mapData[i]);
        }
        refreshMarkers(firstMapView);
    }

    function ensureMapLoaded() {
        if (!map) {
            this.map = L.map('themap').setView([52.954783,-1.158109], 8);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(this.map);

            this.markers = L.markerClusterGroup();
            map.addLayer(markers);
        }

        refreshMarkers();
    }

    function refreshMarkers(firstView) {
        if (!this.markers) {
            return;
        }

        if (loginLocations && loginLocations.length > 0) {
            this.markers.clearLayers();

            var locs = [];

            for (var i = 0; i < loginLocations.length; i++) {
                var location = loginLocations[i].location;
                var marker = L.marker(location);
                marker.bindPopup('<img class="github-avatar" src="' +
                    loginLocations[i].avatar + '"/><br/><b>' +
                    loginLocations[i].login + "</b>");

                markers.addLayer(marker);

                locs.push(location);
            }

            var bounds = L.latLngBounds(locs).pad(0.2);
            if (firstView) {
                this.map.fitBounds(bounds);
            }
            else {
                this.map.flyToBounds(bounds, { duration: 3 });
            }
        }
    }

</script>
